body{
	margin: 0;
	background-color: #f9f5e7;
	color: #f9f5e7;
	font-family:'BrandonText-Bold','helvetica-bold';
	font-size: 18px;
	min-width: 750px;
}
h2{
	margin-top: 1.5px;
	margin-right: 30px;
	padding-left: 35%;
	text-transform: uppercase;
	font-size: 1.618em;
	line-height: 1.618em;
	float: left;
}
h1{
	margin-top: 1.5px;
	margin-right: 30px;
	padding-left: 35%;
	text-transform: uppercase;
	font-size: 1.618em;
	line-height: 1.618em;
	float: left;	
}
p{
	font-family:'avenir','helvetica';
}
a{
	color: #f9f5e7;
	text-decoration: none;
}
a:hover {
	color: white;
	font-size: 1.05em;  
}


header{
	background-image: url("images/stripes.png");
	padding-top: 25px;
	padding-bottom: 18px;
}
.header{
	display: inline;
}
.header img{
	margin-left: 38%;
}
.social{
	display: inline;
	margin-right: 30px;
	float: right;	
}
.social img{
	width: 23px;
	background-color: #bc9cc6;
 	border: 7px solid #bc9cc6;
 	border-radius: 10px;
}
.social img:hover{
	background-color: #f9f5e7;
 	border: 7px solid #f9f5e7;
}
#kitmain {
	background-image: url("images/scallop.png");	
	background-position: top;
	background-repeat: repeat-x;
  	height: 440px;
  	background-color: #7ecdc3;
}
#kitmain img{
	position: absolute;
	left:0px;
	top: 100px;
	width: 369px;

	}
#container1 {
  display: block;
  vertical-align: middle;
  padding-top: 65px; 
}
#container2 {
  display: block;
  vertical-align: middle;
  padding-top: 50px; 
}
#container3 {
  display: block;
  vertical-align: middle;
  padding-top: 50px; 
}

#center-div { 
float:left; 
width:100% 
} 

.square1 {
	background-image: url("images/instructions.png");
	background-repeat: no-repeat;
	background-size: 300px;
	background-position: bottom;
	float:left;
	clear: none;
	width: 300px;
	height: 300px;
	margin-left: -180px;
	margin-top: -25px;
	text-align: center;
}
.square1 p{

    margin-top: 300px;


}



   /* width: 300px; 
    height: 300px;
    display:inline-block; 
  
    margin-right: 40px;
    padding-top: 260px;*/


.square2 {
	background-image: url("images/variations.png");
	background-repeat: no-repeat;
	background-size: 265px;
    width: 300px; 
    height: 300px; 
    clear: both;
    text-align: center;
    display: inline-block;
    vertical-align: bottom;
    padding-top: 260px;    
}


.circle1 {
	background-image: url("images/fabrichearts.png");
	background-repeat: no-repeat;
	background-size: 170px;
    width: 170px; 
    height: 170px;
    display:inline-block; 
    margin-left: -150px;
    margin-right: 40px;
    margin-top: 25px;
    border-radius: 85px;
}

.circle2 {
	background-image: url("images/fabricmushrooms.png");
	background-repeat: no-repeat;
	background-size: 170px;
    width: 170px; 
    height: 170px; 
    display: inline-block;
    margin-right: 40px;
    border-radius: 85px;  
}

.circle3 {
	background-image: url("images/fabriclemons.png");
	background-repeat: no-repeat;
	background-size: 170px;
    width: 170px; 
    height: 170px; 
    display: inline-block;
    border-radius: 85px;  
}

.circle4 {
	background-image: url("images/S6pmug.jpg");
	background-repeat: no-repeat;
	background-size: 170px;
    width: 170px; 
    height: 170px;
    display:inline-block; 
    margin-left: -220px;
    margin-right: 40px;
    margin-top: 25px;
    border-radius: 35px;
}

.circle5 {
	background-image: url("images/S6pillow.jpg");
	background-repeat: no-repeat;
	background-size: 170px;
    width: 170px; 
    height: 170px; 
    display: inline-block;
    margin-right: 40px;
    border-radius: 35px;  
}

.circle6 {
	background-image: url("images/S6clock.jpg");
	background-repeat: no-repeat;
	background-size: 170px;
    width: 170px; 
    height: 170px; 
    display: inline-block;
    border-radius: 35px;  
}



.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}




/* 
.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}





*/

.etsy a{
	background-color: #7ecdc3;
	padding-left: 50px;
	padding-right: 50px;
 	border: 12px solid #7ecdc3;
	position: absolute;
	top: 577px;
	margin-left: 7px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;	
}
.etsy a:hover {
	background-color: #0db9a1;
	padding: 5px solid #0db9a1;
}
.shop1{
	padding-top: 11px;
	height: 60px;
	background-color: #0db9a1;
}

.fabric{
	margin-top: 45px;
	background-color: #fec745;
	height: 340px;	
}
.fabric img{
	position: absolute;
	left: -20px;
	top: 695px;
 	width: 375px;		
}
.shop2{
	padding-top: 11px;
	height: 60px;
	background-color: #faa721;
}
.spoonflower a{
	background-color: #fec745;
	padding-left: 20px;
	padding-right: 20px;
 	border: 9px solid #fec745;
	position: absolute;
	top: 1033px;
	margin-left: 7px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;	
}
.spoonflower a:hover {
	background-color: #faa721;
	padding: 10px solid #faa721;  
}
.shop3{
	padding-top: 11px;
	height: 60px;
	background-color: #76be43;
}
.art{
	margin-top: 45px;
	background-color: #96c93d;
	height: 340px;	
}
#art1 img{
	position: absolute;
	left: 0px;
	top: 1161px;
	margin-left: -35px;
	float: left;
 	width: 365px;		
}
#art2 img{
	display: none;		
}
.society6 a{
	background-color: #96c93d;
	padding-left: 20px;
	padding-right: 20px;
 	border: 9px solid #96c93d;
	position: absolute;
	top: 1487px;
	margin-left: 7px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;	
}
.society6 a:hover {
	background-color: #76be43;
	padding: 10px solid #76be43;  
}
footer{
	background-image: url("images/stripes.png");
	margin-top: 45px;
	font-family:'avenir';
	text-decoration: none;
	text-align: center;
	background-color: #9367b1;
	padding: 20px;
}

/* IPAD */

 @media screen and (max-width: 1007px) {

 body{
 	min-width: 501px;
}
h1, .circle1, .circle2, .circle3, .circle4, .circle5, .circle6{
 	display: none;
}
 p{
 	padding-right:30px; 
}
.header img{
	margin-left: 32%;
	}
h2{
	font-size: 1.75em;
	padding-left: 325px;
	padding-top: 5px;
	vertical-align: middle;
}
.etsy a{
 	padding: 40px 90px;
 	top: 350px;
 	margin-left: 410px;
 	border: 2px solid #f9f5e7;
 	border-radius: 10px;	
}
.spoonflower a{
 	padding:40px 53px;
 	top: 850px;
 	margin-left: 410px;
 	border: 2px solid #f9f5e7;
 	border-radius: 10px;
}
.society6 a{
 	padding: 40px 44px;
 	top: 1305px;
 	margin-left: 410px;
 	border: 2px solid #f9f5e7;
 	border-radius: 10px;
}
#art2 img{
	display: none;		
}

.square1, .square2{
display: none;
}

/* IPHONE */

@media screen and (max-width: 700px) {

h2{
	padding-left: 265px;
}
h1, p{
 	display: none;
}
.header img{
	margin-left: 22%;
}
 .shop1, .shop2, .shop3{
	padding-top: 11px;
	height: 0px;
	background-color: #f9f5e7;
}
#kitmain {
	background-image: url("images/scallop.png");	
	background-position: top;
	background-repeat: repeat-x;
  	height: 350px;
  	background-color: #7ecdc3;
}
#kitmain img{
	margin-left: -18px;
	left:0px;
	top: 100px;
	width: 261px;
}
.etsy a{
 	padding: 20px 35px;
 	top: 325px;
 	margin-left: 260px;
 }
.fabric{
	height: 320px;	
}
.fabric img{
	left: -80px;
	top: 545px;
 	width: 300px;		
}
 .spoonflower a{
 	padding:20px 15px;
 	top: 700px;
 	margin-left: 230px;
}
.art{
	height: 320px;	
}
#art1 img{
	display: none;		
}
#art2 img{
	position: absolute;
	display: block;
	margin-left: -25px;
	top: 922px;
 	width: 250px;
 	float: left;		
}
 .society6 a{
 	padding: 20px 35px;
 	top: 1070px;
 	margin-left: 230px;
 }

.square1, .square2{
display: none;
}






