body{
	background:
	url("images/logo.png"),
	url("images/bunlovinheader.png");
	background-repeat: no-repeat;
	background-position: center top 21%, center top;
	background-size: 55%, 100%;
	background-color: #f8f7ee;
	font-family:'Comfortaa';
}

hr{
	width: 56%;
	margin: auto;
	margin-top: 3%;
	margin-bottom: 3%;
	border-color: #f3fa69;
}

h1{
	margin-left: none;
	text-align: center;
	font-size: 18px;
	font-weight: normal 700;
	color: #3b2216;
}
#wrapper{
	width: 60%;
	margin: auto;
}
img{
	margin-top: 60%;
	width: 57%;
}

ul{
	font-size: 11px;
	margin-right: 45px;
	text-transform: uppercase;
	color: #ccd258;
}

ul li{
 	display: inline;
}

ul li:after{
	content: " \2022";

}
ul li:last-child{
	list-style: none;
}




